<!-- Modal for adding entire playlist -->
<div class="modal fade" id="addPlaylistModal" tabindex="-1" aria-labelledby="addPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlaylistModalLabel">Add Entire Playlist to Queue</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This playlist contains {{ total_results }} videos. Adding the entire playlist will:</p>
                <ul>
                    <li>Add all videos from the playlist to your queue</li>
                    <li>Process videos in batches of 50 at a time</li>
                    <li>This may take some time to complete</li>
                </ul>
                <p>Do you want to continue?</p>
                
                <form id="addEntirePlaylistForm" method="POST" action="{{ url_for('queue_add_entire_playlist.queue_add_entire_playlist_route', guild_id=guild_id) }}">
                    {{ playlist_form.csrf_token }}
                    {{ playlist_form.playlist_id(value=selected_playlist_id) }}
                    {{ playlist_form.channel_id(value=selected_channel_id) }}
                    {{ playlist_form.playlist_title(value=playlist_details.title) }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="document.getElementById('addEntirePlaylistForm').submit();">
                    Add Entire Playlist
                </button>
            </div>
        </div>
    </div>
</div>